* {
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(131, 131, 131);
}

#calculator{
    height: 500px;
    width: 350px;
    background-color: black;
    border-radius: 5%;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#display{
    flex-basis: 100%;
    height: 70px;
    border-radius: 2.5%;
    margin-bottom: 20px;
    text-align: right;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

button{
    width: 65px;
    height: 65px;  
    border: none;
    border-radius: 50%;
    font-size: 1.30em;
    font-weight: bold;
    background-color: rgb(232, 165, 20);
}

button:hover{
    background-color: rgb(232, 165, 55);
}

button:active{
    background-color: rgb(232, 165, 95);
}

button.grey {
    background-color: hsl(0, 0%, 60%);
}

button.grey:hover {
    background-color: hsl(0, 0%, 70%);
}

button.grey:active {
    background-color: hsl(0, 0%, 80%);
}